body {
    background-color: rgba(116, 77, 144, 1.0)
    /*#744d90*/
    
    ;
    background-image: url('../images/login-bg.png');
 
    height: 100%;
    max-height: 100%;
    min-height: 99%;
    overflow: hidden;
    width: 100%;
}